<div class="row">
  <div class="col-xs-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Добавить команду</h4>
      </div>
      <div class="panel-body">
        <form action="#" ng-submit="addTeam()">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </div>
            <input ng-model="title" type="text" class="form-control" placeholder="Название команды" />
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-md btn-success">Добавить</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Занести результат</h4>
      </div>
      <div class="panel-body">
        <form action="#">
          <div class="form-group">
            <label for="opponent" class="control-label">Выберите протиника</label>
            <select name="opponent" id="opponent" class="form-control">
              <option value="">Команда 1</option>
              <option value="">Команда 2</option>
              <option value="">Команда 3</option>
              <option value="">Команда 4</option>
              <option value="">Команда 5</option>
            </select>
          </div>
          <div class="form-group">

            <label for="" class="radio-inline">
              <input type="radio" name="result"> Победа
            </label>
            <label for="" class="radio-inline">
              <input type="radio" name="result"> Поражение
            </label>

          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Заявки от игроков</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th colspan="2">Игрок</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Gluk</td>
            <td>
              <button class="btn btn-success btn-xs">Принять</button>
              <button class="btn btn-danger btn-xs">Отклонить</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="col-xs-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Подтвердить результат</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Противник</th>
            <th>Результат</th>
            <th>Дата</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="success">
            <td>Команда 1</td>
            <td>Победа</td>
            <td>21.07.1988</td>
            <td>
              <button class="btn btn-success btn-xs">OK</button>
            </td>
          </tr>
          <tr class="danger">
            <td>Команда 2</td>
            <td>Поражение</td>
            <td>21.07.1988</td>
            <td>
              <button class="btn btn-success btn-xs">OK</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Команда <strong>Team</strong> <button class="btn btn-danger btn-xs">Распустить</button></h4>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Капитан:</dt>
          <dd>Gluk</dd>
          <dt>Игрок:</dt>
          <dd>Denis
            <button class="btn btn-danger btn-xs">Выгнать</button>
          </dd>
          <dt>Место:</dt>
          <dd>1</dd>
          <dt>Игр:</dt>
          <dd>128</dd>
          <dt>Побед:</dt>
          <dd>128</dd>
          <dt>Поражений:</dt>
          <dd>0</dd>
        </dl>
      </div>
    </div>

  </div>
</div>
