<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading"><h2>Войти</h2></div>

      <div class="panel-body">
        <form action="#" ng-submit="login(user)">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
            <input ng-model="user.email" type="email" class="form-control" placeholder="Email"/>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </div>
            <input ng-model="user.password" type="password" class="form-control" placeholder="Пароль"/>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-md btn-success">Войти</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
