<div class="row">
  <div class="col-xs-3">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="text-center">Последние результаты</h4>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li class="text-center">
            Команда 1 - Команда 2
          </li>
          <li class="text-center">
            Команда 1 - Команда 2
          </li>
          <li class="text-center">
            Команда 1 - Команда 2
          </li>
        </ul>
        <p class="text-center">
          <a href="#" class="btn btn-success btn-sm">Все результаты</a>
        </p>
      </div>
    </div>

  </div>

  <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Таблица</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Команда</th>
            <th>Игры</th>
            <th>Победы</th>
            <th>Поражения</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="team in teams">
            <td>{{team.title}}</td>
            <td>{{team.games}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.looses}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Команды</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Название</th>
            <th>Игроки</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>CoolStoryBro</td>
            <td>2/2</td>
            <td></td>
          </tr>
          <tr>
            <td>Loosers</td>
            <td>1/2</td>
            <td>
              <button class="btn btn-success btn-xs">Вступить</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Игроки</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>Игрок</th>
            <th>Команда</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Denis</td>
            <td>&mdash;</td>
            <td>
              <button class="btn btn-xs btn-success">Пригласить</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div class="col-xs-3">

  </div>
</div>
