<div class="header">
  <div class="navbar navbar-info" role="navigation">
    <div class="container" ng-controller="NavCtrl">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">artkicker</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Главная</a></li>
          <li><a href="#/dashboard">Панель</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="signedIn()">
            <a href="#/login">Войти</a>
          </li>
          <li ng-hide="signedIn()">
            <a href="#/register">Зарегистрироваться</a>
          </li>
          <li ng-show="signedIn()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{currentUser.profile.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ng-click="logout()">Выйти</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
